/* Footer Styles */

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f2f2f2;
    padding: 1rem;
    margin-left: 0;
    margin-right: 0;  }
    
  
  
          .footer-logo {
          grid-column: 1;
          align-items: center;
          justify-content: center;
          }
              .footer-logo img {
                  max-width: 100px;
                  align-items: center;
                  justify-content: end;
              }
          .footer-terms {
          grid-column: 2;
          }
  
          .footer-form {
          grid-column: 3;
          }
  
              .footer-form input {
              width: 100%;
              margin-bottom: 10px;
              }