.navbar {
    position: fixed; /* hace que la nav bar te siga */ 
    top: 0;
    width: 100%;
    background-color: #02343F;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .logo {
        height:100px;
        margin-left: 75px;
        mix-blend-mode: color-burn;
        }
       
   