/* Section Styles */

section {
    padding: 2rem;
  }
          section h2 {
          font-size:2rem;
          margin-bottom: 1rem;
          }
          section img {
              width: 100%;  
              height: auto;  
              object-fit: cover;
              margin-bottom: 1rem;
          }